*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
li{font-size: 1.25em;}


button{
    font-size: 1.em;
    font-weight: bold;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color:blueviolet;
    padding: 10px 20px;
    margin: 20px;
}
button:hover{
    background-color:rgb(49, 33, 47)
}



.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color:blueviolet;}

header{
    background-color: rgb(38, 16, 68)
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(231, 205, 255);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(231, 205, 255);
}

header a:hover{
    color: rgb(44, 6, 39);
}

footer nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

footer a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

footer a:hover {
color: rgb(173, 96, 163);
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("media/5d17862f-6d0b-4928-8677-365506b11b7d.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero {
    color: white;
}

#Sobre_Nosotros .container{
    text-align: center;
    padding: 200px 12px;
    flex-direction: columns
    
}

#actividades {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 20px;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("media/k.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-size:auto;
    background-position: center center;
    background-size: cover;

}

#actividades2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 20px;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("media/Niños.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-size:auto;
    background-position: center center;
    background-size: cover;

}

#actividades3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 20px;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("media/E.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-size:auto;
    background-position: center center;
    background-size: cover;

}

#actividades4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 20px;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("media/Dinamica.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-size:auto;
    background-position: center center;
    background-size: cover;

}
#actividades5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 20px;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("media/Entrega.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-size:auto;
    background-position: center center;
    background-size: cover;

}

#Nuestras_redes{
    text-align: center;
}

#Nuestras_redes {
    background-color: rgb(30, 30, 30);
    color: white;
}

#Nuestras_redes {
    padding: 150px 12px;
}

#Nuestras_redes h3{
    margin-top: 0;
}

#Nuestras_redes p{
    display: none;
}

#Nuestras_redes.carta{
    background-position: center center;
background-size: cover;


}



.carta:first-child{
background-image:linear-gradient(
    0deg,
    rgb(0,0,0,0.5),
    rgb(0,0,0,0.5)
)
,url("media/Insta.png");
background-position: center center;
background-size: cover;
padding: 50px;
margin: 20px;
border-radius: 15px; 

}

.carta:nth-child(2){
    background-image:linear-gradient(
    0deg,
    rgb(0,0,0,0.5),
    rgb(0,0,0,0.5)
)
,url("media/images.png");
background-position: center center;
background-size: cover;
padding: 50px;
margin: 20px;
border-radius: 15px; 

}
.carta:nth-child(3){
    background-image:linear-gradient(
    0deg,
    rgb(0,0,0,0.5),
    rgb(0,0,0,0.5)
)
,url("media/Facebook\ \(1\).png");
background-position: center center;
background-size: cover;
padding: 50px;
margin: 20px;
border-radius: 15px; 

}



.carta:nth-child(4){
    background-image:linear-gradient(
    0deg,
    rgb(0,0,0,0.5),
    rgb(0,0,0,0.5)
)
,url("media/Hay\ más\ bendición\ en\ dar\ que\ recibir\ 🙌🏽🤍\(HEIC\)_4.png");
background-position: center center;
background-size: cover;
padding: 50px;
margin: 20px;
border-radius: 15px; 
}


#Dona .container{
    text-align: center;
    padding: 250px 12px;
}

#Dona li{
    margin: 16px 0px;
    font-weight: bold;
}

footer{
    background-color: rgb(38, 16, 68)
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .container{
    justify-content: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #Sobre_Nosotros  .container{
        display: flex;
        justify-content: space-evenly;
    }

    #Sobre_Nosotros  .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Sobre_Nosotros  h2{
        margin-top: 0px;
    }

    #Sobre_Nosotros  .img-container{
        background-image: url("media/somos-proya.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #Nuestras_redes .programas{
        display: flex;
        justify-content: center;
    }

    #Nuestras_redes p{
        display: block;
        margin-bottom: 30px;
    }

    #Nuestras_redes h2{
        font-size: 4em;
    }

    #Nuestras_redes h3{
        margin-top: 0;
    }

    #Nuestras_redes .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image:linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
        )
        ,url("media/Insta.png");
        background-position: center center;
        background-size: cover;
        padding: 50px;
        margin: 20px;
        border-radius: 15px; 
        
        }

        .carta:nth-child(2){
            background-image:linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
        )
        ,url("media/images.png");
        background-position: center center;
        background-size: cover;
        padding: 50px;
        margin: 20px;
        border-radius: 15px; 
        
        }

        .carta:nth-child(3){
            background-image:linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
        )
        ,url("media/Facebook\ \(1\).png");
        background-position: center center;
        background-size: cover;
        padding: 50px;
        margin: 20px;
        border-radius: 15px; 
        
        }


        .carta:nth-child(4){
            background-image:linear-gradient(
            0deg,
            rgb(0,0,0,0.5),
            rgb(0,0,0,0.5)
        )
        ,url("media/Hay\ más\ bendición\ en\ dar\ que\ recibir\ 🙌🏽🤍\(HEIC\)_4.png");
        background-position: center center;
        background-size: cover;
        padding: 50px;
        margin: 20px;
        border-radius: 15px; 
        }
        

    #Dona{
        background-image: url("media/C2GwFFEOJLh\(JPG\).jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #Dona .container{
        text-align: initial;
    }

    #Dona ul{
        margin-left: 100px;
    }


    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}